.view {}

.list {
    margin: 0;
    padding: 0;
}

.list-item {
    display: block;
    margin: 8px;
    cursor: default;
}

.entry-name-container {
    display: inline-flex;
    align-items: center;
}

.icon {
    margin: 2px;
    --entry-icon-size: 16px;
}

.icon-placeholder {
    display: inline-block;
    margin: 2px;
    width: 16px;
    height: 16px;
}

.entry-name {
    margin: 2px;
}

.item-count {
    flex: 1;
    text-align: center;
}
