.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding: 0 8px;
    background-color: #FFFFFF;
    color: #888888;
    overflow: hidden;
    fill: #444444;
}

.button:disabled {
    opacity: 0.5;
}
