.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding: 0 8px;
    background-color: #FFFFFF;
    color: #888888;
    overflow: hidden;
    fill: #444444;
    outline: none;

    @nest &:disabled {
        opacity: 0.5;
    }

    @nest &:focus-within {
        border-color: #88BBCC;
        background-color: #EEFFFF;
    }

    @nest &:active:not(:disabled) {
        background-color: #EEEEEE;
    }
}
