.view {
    display: grid;
    grid-template-columns: auto 1fr;
    align-content: start;
}

.line-number {
    font-family: monospace;
    text-align: right;
    margin-right: 0.5em;
    color: #FFFFFF40;
}

.line {
    white-space: pre;
    font-family: monospace;
}
