.image-viewer {
    display: grid;
    grid-template-columns: minmax(2em, auto) max-content minmax(2em, auto);
    grid-template-rows: minmax(2em, auto) max-content minmax(2em, auto);
}

.image-viewer::after {
    content: '';
    display: block;
    inline-size: 2em;
    block-size: 2em;
    grid-column: 3;
    grid-row: 3;
}

.image {
    grid-column: 2;
    grid-row: 2;
}
