html {
    height: 100%;
    font-size: 12px;
    font-family: system-ui, sans-serif;
}

body {
    margin: 0;
    height: 100%;
    user-select: none;
}

:global(#container) {
    display: flex;
    height: 100%;
}

.main-content {
    flex: 1;
    height: 100%;
}
