.binary-viewer {
    box-sizing: border-box;
    width: min-content;
    min-width: 100%;
    padding: 2em;
    --column-count: 1;
    --row-count: 1;
}

.container-for-measuring {
    width: 0;
    height: 0;
    overflow: hidden;
}

.element-for-measuring-padding {
    box-sizing: border-box;
    width: 0;
    padding: 2em;
}

.binary-contents {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 16px;
    width: min-content;
    background-color: #333333;
    font-family: monospace;
}

.block {
    /**/
}
