.view {
    display: flex;
    flex-direction: column;
    position: relative;
    --tab-height: 34px;
    --tab-radius: 6px;
    --tabs-padding-top: 0;
    --tabs-padding-left: 0;
    --active-tab-background: #FFFFFF;
    --active-tab-foreground: #444444;
    --content-background: #444444;
    --content-foreground: #FFFFFF;
    --drag-over-icon-width: 12px;
    --tab-insert-area-width: 16px;
}

:global(#container) > .view {
    --tabs-padding-top: calc(var(--traffic-light-height) - var(--tab-height));
    --tabs-padding-left: calc(var(--traffic-light-width) + var(--tab-radius) + 4px);
}

.tabs {
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    padding-top: var(--tabs-padding-top);
    padding-left: var(--tabs-padding-left);
    min-height: calc(var(--tabs-padding-top) + var(--tab-height));
    -webkit-app-region: drag;
}

.append-area {
    display: flex;
    flex: 1;
    align-items:center;
    position: relative;
    margin-top: calc(var(--tabs-padding-top) * -1);
    padding-top: var(--tabs-padding-top);
    height: var(--tab-height);
    z-index: 2;
}

.prepend-area {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--tabs-padding-left);
    z-index: 2;
}

.tab-insert-after-area,
.tab-insert-before-area,
.tab-navigate-area {
    display: none;
    position: absolute;
    top: calc(var(--tabs-padding-top) * -1);
    bottom: 0;
    z-index: 2;
}

.tab-insert-after-area {
    right: 0;
    width: var(--tab-insert-area-width);
}

.tab-insert-before-area {
    left: 0;
    width: var(--tab-insert-area-width);
}

.tab-navigate-area {
    left: var(--tab-insert-area-width);
    right: var(--tab-insert-area-width);
}

.tab-view-drag-over-indicator {
    display: none;
    position: absolute;
    top: 2px;
}

.append-area > .tab-view-drag-over-indicator,
.tab-insert-before-area > .tab-view-drag-over-indicator {
    left: 0;
}

.prepend-area > .tab-view-drag-over-indicator,
.tab-insert-after-area > .tab-view-drag-over-indicator {
    right: 0;
}

.tab-navigate-area > .tab-view-drag-over-indicator {
    left: 50%;
}

.append-area-drag-over .append-area > .tab-view-drag-over-indicator,
.prepend-area-drag-over .prepend-area > .tab-view-drag-over-indicator,
.tab-insert-after-area-drag-over .tab-insert-after-area > .tab-view-drag-over-indicator,
.tab-insert-before-area-drag-over .tab-insert-before-area > .tab-view-drag-over-indicator,
.tab-navigate-area-drag-over .tab-navigate-area > .tab-view-drag-over-indicator {
    display: inline-block;
}

.tab-view-drag-over .prepend-area,
.tab-view-drag-over .tab-insert-after-area,
.tab-view-drag-over .tab-insert-before-area,
.tab-view-drag-over .tab-navigate-area {
    display: block;
}

.tab {
    flex: 1 1;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: var(--tab-radius) var(--tab-radius) 0 0;
    width: 0;
    max-width: 240px;
    height: var(--tab-height);
    background-color: var(--tab-background);
    -webkit-app-region: no-drag;
    --close-button-background: var(--content-foreground);
    --close-button-foreground: var(--content-background);
    --tab-background: transparent;
    transition: background-color 0.1s;
}

.tab:not(.active):hover {
    --tab-background: #FFFFFF44;
}

.tab.active {
    color: var(--active-tab-foreground);
    filter: drop-shadow(0 0 2px #00000022);
    z-index: 1;
    --close-button-background: var(--content-foreground);
    --close-button-foreground: var(--content-background);
    --tab-background: var(--active-tab-background);
    transition: none;
}

.tab::before,
.tab::after {
    display: block;
    position: absolute;
    content: '';
    width: var(--tab-radius);
    height: var(--tab-radius);
    bottom: 0;
}

.tab::before {
    left: calc(var(--tab-radius) * -1);
    background: radial-gradient(circle at top left,
        transparent calc(var(--tab-radius) - 1px),
        var(--tab-background) var(--tab-radius),
        var(--tab-background)
    );
}

.tab::after {
    right: calc(var(--tab-radius) * -1);
    background: radial-gradient(
        circle at top right,
        transparent calc(var(--tab-radius) - 1px),
        var(--tab-background) var(--tab-radius),
        var(--tab-background)
    );
}

.tab-drag-over-icon {
    display: none;
    position: absolute;
    top: calc(var(--tabs-padding-top) * -1 + 2px);
    left: 50%;
    margin-left: calc(var(--drag-over-icon-width) * -0.5);
    fill: #FFFFFF;
    filter: drop-shadow(0 0 1px #000000);
}

.tab-drag-over .tab-drag-over-icon {
    display: inline-block;
}

.tab-margin {
    display: inline-block;
    flex: 1;
    width: 0;
    max-width: 6px;
}

.tab-icon {
    flex: 1 1 16px;
    overflow: hidden;
    max-width: 16px;
    height: 16px;
}

.tab-title {
    flex: 1 1 0;
    overflow: hidden;
    white-space: nowrap;
}

.close-button {
    opacity: 0;
}

.tab.active > .close-button,
.close-button:hover {
    opacity: 0.5;
}

.tab.active > .close-button:hover {
    filter: brightness(0.8);
}

.contents {
    display: flex;
    flex: 1;
    background-color: var(--content-background);
    color: var(--content-foreground);
    position: relative;
    z-index: 2;
}

.content {
    display: none;
    position: absolute;
    flex: 1;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.content.active {
    display: flex;
}

.content > * {
    flex: 1;
}
