.tab-close-button {
    display: inline-flex;
    padding: 2px;
    width: 14px;
    height: 14px;
    background-color: var(--close-button-background, #FFFFFF);
    fill: var(--close-button-foreground, #000000);
    border: none;
    border-radius: 50%;
    text-align: center;
    outline: none;

    @nest &:is(:focus-within, :hover) {
        filter: brightness(0.8);
    }

    @nest &:active {
        filter: brightness(0.6);
    }

    @nest & > svg {
        width: 10px;
        height: 10px;
    }
}
