.view {
    display: flex;
    flex-direction: column;
    position: relative;
    --tab-height: 34px;
    --tab-radius: 6px;
    --tabs-padding-top: 0;
    --tabs-padding-left: 0;
    --active-tab-background: #FFFFFF;
    --active-tab-foreground: #444444;
    --content-background: #444444;
    --content-foreground: #FFFFFF;
    --drag-over-icon-width: 12px;
    --tab-insert-area-width: 16px;

    @nest :global(#container) > & {
        --tabs-padding-top: calc(var(--traffic-light-height) - var(--tab-height));
        --tabs-padding-left: calc(var(--traffic-light-width) + var(--tab-radius) + 4px);
    }
}

.tabs {
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    padding-top: var(--tabs-padding-top);
    padding-left: var(--tabs-padding-left);
    min-height: calc(var(--tabs-padding-top) + var(--tab-height));
    -webkit-app-region: drag;
}

.append-area {
    display: flex;
    flex: 1;
    align-items:center;
    position: relative;
    margin-top: calc(var(--tabs-padding-top) * -1);
    padding-top: var(--tabs-padding-top);
    height: var(--tab-height);
    z-index: 2;
}

.prepend-area {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--tabs-padding-left);
    z-index: 2;

    @nest .tab-view-drag-over & {
        display: block;
    }
}

.tab-view-drag-over-indicator {
    display: none;
    position: absolute;
    top: 2px;

    @nest .append-area > & {
        left: 0;
    }

    @nest .prepend-area > & {
        right: 0;
    }

    @nest :is(.append-area-drag-over .append-area, .prepend-area-drag-over .prepend-area) > & {
        display: inline-block;
    }
}

.contents {
    display: flex;
    flex: 1;
    background-color: var(--content-background);
    color: var(--content-foreground);
    position: relative;
    z-index: 2;
}

.content {
    display: none;
    position: absolute;
    flex: 1;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    @nest &.active {
        display: flex;
    }

    @nest & > * {
        flex: 1;
    }
}
