html {
    height: 100%;
    font-size: 12px;
    font-family: system-ui, sans-serif;
}

body {
    margin: 0;
    height: 100%;
    user-select: none;
    background-color: #444444;
    color: #FFFFFF;
}

:global(#container) {
    display: flex;
    height: 100%;
}

:global(#container) > * {
    flex: 1;
}
